{% from '_macros/component' import component, spacer %}

{% extends '_layouts/global' %}

{% block site %}
  {{ component('blocks/hero-simple', { block: entry.heroSimple }) }}
  {{ component('blocks/divider') }}

  <section class="py-20"></section>

  {{ include('_components/page-builder', { blocks: entry.blocks.all() }) }}
{% endblock %}
