{% from '_macros/image' import image %}
{% from '_macros/link' import link %}
{% from '_macros/component' import component, spacer %}

<!-- Template: {{ _self }} -->
<section class="{{ spacer(block.spacingTop.value, block.spacingBottom.value)|spaceless }}">
  {{ image(block.image.one(), { class: 'w-full h-auto anim-fade-in' }) }}
</section>
