{% from '_macros/image' import image %}
{% from '_macros/link' import link %}
{% from '_macros/component' import component, spacer %}

<!-- Template: {{ _self }} -->
<section class="container {{ spacer(block.spacingTop, block.spacingBottom)|spaceless }}">
	<div class="grid grid-cols-1 lg:grid-cols-10 gap-10 lg:gap-20">
		<div class="col-span-full lg:col-span-3 lg:pr-10">
			{{ component('typography/h1', { heading: block.title, class: "text-black anim-fade-up" }) }}
		</div>

		<div class="col-span-full lg:col-span-7">
			<div class="rte rte--small p-10 bg-grey-100 rounded-2xl text-anim-fade-up">
				{{ block.text }}
			</div>
		</div>
	</div>
</section>
