{% from '_macros/image' import image %}
{% from '_macros/link' import link %}
{% from '_macros/component' import component, spacer %}

<!-- Template: {{ _self }} -->
<section class="container {{ spacer(block.spacingTop.value, block.spacingBottom.value)|spaceless }}"></section>
