{% extends '_layouts/base' %}

{% set pageColor = 'bg-purple' %}
{% block body %}
  {# Global Site Header #}
  {% include '_components/global/header' %}

  <main>
    {% block site %}

    {% endblock %}
  </main>
{% endblock %}
