{% from '_macros/component' import component %}

{% if buttons|length %}
  <div class="{{ twMerge('flex flex-wrap gap-10', class ?? '') }}">
    {% for button in buttons %}
      {{ component('button', { button, color: button.colour }) }}
    {% endfor %}
  </div>
{% endif %}
