{% set class = class ?? '' %}
{% set tags = tags ?? null %}

<!-- Template: {{ _self }} -->
<div class="{{ twMerge('flex flex-wrap gap-2 lg:gap-4', class) }}">
  {% for tag in tags %}
    <span class="bg-white/60 backdrop-blur-sm py-1.5 px-2 lg:py-3 lg:px-4 rounded-lg leading-none lg:min-w-[90px] text-center text-black text-sm">
      {{ tag.title }}
    </span>
  {% endfor %}
</div>
