<!-- Template: {{ _self }} -->
<header
  x-data="header"
  x-resize.document="resizeEvent"
  class="container mx-auto fixed top-0 left-0 right-0 flex gap-4 items-center justify-between transition-all duration-500 z-40 text-black pt-12"
  @scroll.window="handleScroll"
  :class="{
		'pt-12' : atTop,
		'pt-4' : !atTop,
	}"
>
  <a
    href="/"
    title="{{ siteName }}"
    class="transtion duration-300"
    :class="{
    'opacity-100 translate-y-0 ' : atTop,
    'opacity-0 -translate-y-full pointer-events-none' : !atTop,
  }"
  >
    {{ svg("@webroot/svg/logo-#{logoColour}.svg")|attr({ class: 'w-[160px] h-auto' }) }}
  </a>

  {{ include('_components/navigation/main') }}

  <div class="lg:hidden relative z-[31]">
    <button
      type="button"
      class="inline-flex items-center gap-4 py-2 border-b border-transparent transition duration-300 uppercase font-medium text-white text-lg hover:text-red hover:cursor-pointer"
      x-on:click="toggleNav"
      aria-label="Open/Close the mobile menu"
    >
      <span x-show="!showNav">Menu</span>
      <span x-show="showNav" style="display: none">Close</span>
    </button>
  </div>
</header>
