{% set nav = craft.navigation.nodes('footerPrivacy').all() %}

<!-- Template: {{ _self }}.twig -->
<nav role="navigation">
	<ul class="flex flex-col sm:flex-row sm:flex-wrap justify-end gap-3 sm:gap-8">
		{% for node in nav %}
			<li class="m-0 leading-loose text-sm">
				<a
					href="{{ node.url }}"
					class=""
					{% if node.newWindow %}target="_blank" rel="noopener noreferrer"{% endif %}
				>
					{{- node.title -}}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
